<p>
  <h1><%= @article.title %></h1>
</p>
<p class="lead">
  <%= @article.text %>
</p>
<p>
  <strong>Created at:</strong>
  <%= @article.created_at %>
</p>
<p>
  <strong>Updated at:</strong>
  <%= @article.updated_at %>
</p>

<%= render 'comments/form' %>

<h2>Comments</h2>
<%= render @article.comments.reload %>

<p><%= link_to 'Back to index', articles_path, class: "btn btn-info" %></p>
<p><%= link_to 'Edit article', edit_article_path(@article), class: "btn btn-warning" %></p>
